#brand > img{
    height: 40px;

}
#phone_icon{
    padding-left: 51.5px;
    width: 32px;
    height: 32px;
}
#istagram_icon{
    width: 40px;
    height: 40px;
}
#whatsapp_icon{
    width: 40px;
    height: 40px;
    padding-left: 10px;
}
#picture > img{
    text-align: left;
    width: 469px;
    height: 469px;
}